/**
 * @file
 * Overall specifications for Bartik.
 */

html {
  height: 100%;
}
body {
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 87.5%;
}
a,
a.link {
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}
.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  margin: 0 0 1.2em;
}
img {
  max-width: 100%;
  height: auto;
}